<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>482583768445-8me7gotvbj73ggi25o0j0b3vuonsv66a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482583768445-8me7gotvbj73ggi25o0j0b3vuonsv66a</string>
	<key>API_KEY</key>
	<string>AIzaSyCqL1kQJ8EGU4z-cE4SHhXXwU-9o4iMdRw</string>
	<key>GCM_SENDER_ID</key>
	<string>482583768445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.3codegeeks.udacitymap</string>
	<key>PROJECT_ID</key>
	<string>udacitymap-1a0be</string>
	<key>STORAGE_BUCKET</key>
	<string>udacitymap-1a0be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482583768445:ios:8e7f85b264e5f0a3</string>
	<key>DATABASE_URL</key>
	<string>https://udacitymap-1a0be.firebaseio.com</string>
</dict>
</plist>